<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Reset Your Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="form" [formGroup]="validations" (ngSubmit)="resetPasswordInit(validations.value)">
        <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" #email formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="validations.get('email').hasError(validation.type) && (validations.get('email').dirty || validations.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-button class="submit-btn" type="submit" [disabled]="!validations.valid" class="center">Submit</ion-button>
    </form>

    <small>
      Please provide the email address that you used when you registered for your account.
    </small>

</ion-content>